.flex {
    display: flex;
    flex-wrap: wrap;
}
.item {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}
.flex-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#notification {
    margin-top: 50px;
}
#add {
    margin-top: 0;
}

@media (max-width: 768px) {
    .item {
        width: 100%;
        margin: 10px;
        box-sizing: border-box;
    }
    #add {
        margin-top: 20px;
    }
}
